NEXT_PUBLIC_API_URL=http://localhost:4000

# Firebase (Google Sign-In)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAS9Kg0yVtwV_8IsSDPNTiArcwH4GfoJeY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=egconcept-appointment.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=egconcept-appointment
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=egconcept-appointment.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=704817445436
NEXT_PUBLIC_FIREBASE_APP_ID=1:704817445436:web:0da18b1dcbac7267502139
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-DP5WNJG31Q
